# Token from Holyrics -> Settings -> API Server -> Manage permissions.
HOLYRICS_TOKEN=

# Default Holyrics local API address is http://localhost:8091.
# If Holyrics API Server uses another port, change HOLYRICS_PORT.
HOLYRICS_HOST=http://localhost
HOLYRICS_PORT=8091
